/*Initionalisation, paramètre par défaut de bases et polices spécifiques*/

@font-face {
  font-family: 'Code';
  src: url('fonts/code_light.otf');
  src: url('fonts/code_light.eot#iefix') format('embedded-opentype'),
       url('fonts/code_light.ttf') format('truetype'),
       url('fonts/code_light.woff') format('woff');
   }
@font-face {
  font-family: 'CodeBold';
  src: url('fonts/code_bold.otf');
   }

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

* { margin:0; }


h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 30px;
  color: inherit;
  text-rendering: optimizelegibility; }
  h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    font-weight: normal;
    line-height: 1;
    color: #999999; }

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  vertical-align: middle; }

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: white;
  border: 1px solid white;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s; }

  textarea:focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="time"]:focus,
  input[type="week"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="search"]:focus,
  input[type="tel"]:focus,
  input[type="color"]:focus,
  .uneditable-input:focus {
    border-color: white;
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    -webkit-box-shadow: inset 0 1px 1px white, 0 0 8px white;
    -moz-box-shadow: inset 0 1px 1px white, 0 0 8px white;
    box-shadow: inset 0 1px 1px white, 0 0 8px white; }
  
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto; }

/*Page principale*/


body
{
  background-color: black;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #C5CFD0;
}

h1
{
   margin: 0;
   font-family: 'Open Sans';
   font-weight: 300;
   font-size: 50px;
   line-height: 7vh;
   color: white;
}

h2
{
   margin: 0;
   font-family: 'Open Sans';
   font-weight: 300;
   font-size: 25px;
   line-height: 7vh;
   color: white;
}

p
{
  font-family: 'Open Sans';
  font-weight: 300;
  line-height: 3vh;
  color: white;
}

.CTA
{
  text-decoration: none;
  cursor: pointer;
  color: white;
  display: inline-block;
  height: 8.888vh;
  width: 25vw;
  line-height: 8.8888vh;
  border-radius: 3px;
  font-size: 2.7777vh;
  font-family: 'Open Sans';
  font-weight: 300;
  margin-top: 4.44vh;
}

header,
#headerSignUpOverlay
{
   position: absolute;
   top: 0;
   left: 0;
   width: 100vw;
   color: white;
   font-size: 30px;
   z-index: 11;
   margin: 0;
   display: inline-block;
   transition: background-color 0.5s ease-in, opacity 1s ease-in;
  -webkit-transition: background-color 0.5s ease-in, opacity 1s ease-in;
}

header h1,
#headerSignUpOverlay h1
{
   display: inline-block;
   font-family: 'Code';
   font-weight: 300;
   margin: 3.333vh 0 0 5vw; 
   font-size: 5.55vh;
   float: left;
   z-index: 11;
}

header ul,
#headerSignUpOverlay ul
{
   display: inline-block;
  float: right;
   font-family: 'Open Sans';
   font-weight: 300;
   font-size: 2.22vh;
   margin-right: 5vw;
  list-style-type: none;
}

header li,
#headerSignUpOverlay li
{
   display: inline-block;
  margin: 4.8vh 20px 0 0;
}

header li a,
#headerSignUpOverlay li a
{
   text-decoration: none;
   color: white;
}


header li:hover,
#headerSignUpOverlay li:hover
{
   border-bottom: 1px solid white;
}


.fix-header
{
  position: fixed;
  background-color: rgba(0,0,0,0.4);
  opacity: 0.5;
  height: 50px;
  padding: 0;
}

.fix-header  #headerSignUp
{
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 3px;
  padding: 2px 8px 5px 8px;
  transition: 0.25s;
}

.fix-header  #headerSignUp:hover
{
  background-color: rgba(0,0,0,0.1);
}

.fix-header li:hover,
.fix-header:hover,
.fix-header li a:hover
{
   border-bottom: none;
}

.fix-header h1
{
  font-size: 30px;
  line-height: 50px;
  margin: 2px 0 0 3vw; 
}

.fix-header ul
{
   font-size: 15px;
   margin-right: 1vw;
}

.fix-header ul li
{
     margin: 15px 2vw 0 0;
}


.strong
{
  font-weight: 400;  
}

#backroundOverlay
{
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
}


/*Sign up Overlay*/

#explainArrow
{
  width: 4vh;
  -ms-transform: rotate(170deg); /* IE 9 */
    -webkit-transform: rotate(170deg); /* Chrome, Safari, Opera */
    transform: rotate(170deg);
    margin-bottom: 10px; 
}

#signUpOverlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: visibility 1s linear, opacity 0.5s linear;
}

#headerSignUpOverlay
{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 13;
  background-color: black;
}

#signUpOverlayContainer
{
  display: inline-block;
  vertical-align: middle;
}

#facebookLogin
{
  text-align: center;
}

#fbButton
{
  border-radius: 2px;
  margin: auto;
  border: 1px solid white;
  padding: 1% 0 1% 0;
  width: 25vw;
  transition: 0.25s;
  -webkit-transition: 0.25s;
}

#fbButton:hover
{
  background-color: #122c34;
  cursor: pointer;
}

#fbIcon
{
  height: 40px;
  display: inline-block;
  vertical-align: middle;
}

#fbButton h2
{
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

#classicLogin
{
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 25px;
}

#signUpForm
{
  margin-top: 1.2vh;
}

input[type="email"],
input[type="password"]
  {
    font-family: 'open Sans';
    font-weight: 300;
    font-size: 10px;
    color: white;
    height : 25px;
    border-radius: 0px;
    width: 25vw;
    background-color: black; 
  }

input[type="submit"]
  {
    border: none;
    background-color: transparent;
    font-family: 'open Sans';
    font-weight: 300;
    font-size: 10px;
    color: white;
    border-bottom: 1px solid white;
  }
  input[type="submit"]:hover
  {
    cursor: pointer;
  }

  #checkMark
  {
    width: 20vw;
  }

  #signUpOverlayContainer h2 a
  {
    color: white;
  }



/*Page 1*/


#page1
{
  width: 100vw;
  height: 100vh;
  background: url(../assets/pictures/bg_home_1_4.jpeg) no-repeat center center ; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: 10;
 /* -webkit-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out;*/
}

#container1
{
  position: absolute;
  display: inline-block;
  width: 75vw;
  top: 48.8vh;
  left: 12.5vw;
  min-width: 100px;
  /*background-color: rgba(255,255,255,0.3);*/
}

#container1 h1
{
  font-size: 5.55vh;
  color: white;
  font-family: 'Open Sans';
  font-weight: 300;
  margin: 0;
}



#container1 #CTAP1
{
   background-color: rgba(197, 207, 208, 0.5);
   border: 1px solid rgba(255,255,255,0.3);
   font-size: 2.7777vh;
}

#container1 #CTAP1:hover
{
   background-color: rgba(197, 207, 208, 1);
   transition: 0.25s ease-in;
   border: 1px solid white;
}



#svg_down_chevron
{
  width: 40px;
  margin-top: 15vh;
  -webkit-animation: bounce 4s 2s infinite;
  -moz-animation: bounce 4s 2s infinite;
  animation: bounce 4s 2s infinite;
}

#down_chevron
{
  fill: #C5CFD0;
  opacity: 0.7;
  transition: 0.25s ease-in;
}

#down_chevron:hover
{
  fill: white;
  opacity: 0.9;
}

#chevronLink
{
  text-decoration: none;
  background-color: transparent;
  border: none;
  color: transparent;
}
/*Page 2*/


#page2
{
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #C5CFD0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   text-align: center;
   overflow: hidden;
   z-index: 10;
}

#container2
{
  height: 100vh;      /* equals max image height */
  width: 75vw;
   max-width: 1200px;
   margin: auto;
    white-space: nowrap;
    text-align: center; 
  /* background-color: rgba(255,255,255,0.3);*/
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.img-container
{
  width: 50vw;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}

#container2 img {
  display: inline-block;
  vertical-align: middle;
}


.img-container img
{
  width: 686px;
  height: 405px;
}

#container2 aside
{
   display:inline-block;
    vertical-align: middle;
   width: 25vw;
   max-width: 400px;
   overflow: hidden;
  /* background-color: rgba(255,255,255,0.3);*/
   white-space: normal;
   margin-bottom: 30px;
}

#container2 h1
{
   font-size: 3.125vw;
   color: black;
}

#container2 p
{
   margin: 2.22vh 0 0 0 ;
   padding: 0;
   font-size: 2vh;
   color: black;
}

.jumpline
{
  display: inline-block;
  margin-top: 6px;
}

#container2 a
{
   height: 5.55vh;
   width: 12.5vw;
   background-color: rgba(83, 25, 49, 0.7);
   line-height: 5.2vh;
   border-radius: 5px;
   border: 1px solid rgba(255,255,255,0.3);
   font-size: 2.7777vh;
   margin-top: 3.33vh;
}

#container2 a:hover
{
   background-color: rgba(83, 25, 49, 1);
   transition: 0.25s ease-in;
}



/**/
/*Page 3 */

#page3
{
  width: 100vw;
  height: 100vh;
  background: url(../assets/pictures/bg_home_2.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  z-index: 1;
}

#container3
{
  position: absolute;
  position: fixed;
  display: inline-block;
  width: 75vw;
  top: 36.67vh;
  left: 12.5vw;
  min-width: 500px;
  -webkit-transform: translateZ(0);
  /*background-color: rgba(255,255,255,0.3);*/
}

#container3 h1
{
  margin-bottom: 3.88vh;
}


#container3 a
{
   background-color: rgba(197, 207, 208, 0.1);
   border: 1px solid rgba(255,255,255,0.3);
   font-size: 2.7777vh;
}

#container3 a:hover
{
   background-color: rgba(197, 207, 208, 0.3);
   transition: 0.25s ease-in;
   border: 1px solid white;
}


/*Page 4 */

#page4
{
  width: 100vw;
  height: 100vh;
  background-color: #122c34;
  position: relative;
  z-index: 10;
}



#headerPage4
{
  width: 100%;
  height: 28vh;
}

#headerPage4 h1
{
  display: inline-block;
  vertical-align: middle;
  margin-top: 7vh;
}

.sound_box
  {
    vertical-align: middle;
    display: inline-block;
    background-size: cover;
    margin: 0;
    position: relative;
    height: 72vh;
    width: 33.333vw;
  }
  

  .sound_cover
  {
    height: 72vh;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
    background-position: center;
  }
  
.ribbon
{
  position: absolute;
  top: 5px;
  left: 3px;
  background-color: black;
  color: white;
  font-size: 1em;
  font-family: 'open Sans';
  font-weight: 300;
  z-index: 10;
}

  .cover_wrapper
  {
    height: 72vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.2;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    text-align: center;
  }

 
.playPauseButton
{
  display: inline-block;
  width: 15vh;
  height: 15vh;
  -webkit-background-size: contain; /* pour Chrome et Safari */
  -moz-background-size: contain; /* pour Firefox */
  -o-background-size: contain; /* pour Opera */
  background-size: contain; /* version standardisée */
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-top: 24.5vh;
}

.play
{
  background-image: url(pictures/play_white.svg);
}
.pause
{
  background-image: url(pictures/pause_white.svg);
}


  .trackIds
  {
    display: none;
  }

  .sound_informations
  {
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    bottom: 0;
    left: 0;
    width: 100%;
    display: inline-block;
    z-index: 10000;
    padding: 0;
    overflow: hidden;
    text-align: center;
  }

  .sound_informations h3
  {
    text-align: center;
    line-height: 2.5em;
    font-size: 1.2vw;
    font-family: 'open Sans';
    font-weight: 300;
    color: white;
    overflow: hidden;
  }



/* Page 5  */

#page5
{
  position: relative;
  height: 93.3vh;
  width: 100vw;
  background-color: #8f959a;
  z-index: 10;
}

#container5
{
  width: 90vw;
  margin: auto;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
  text-align: right;
  margin-top: 5vh;
}

#container5 h1
{
  font-size: 4.5vw;
  margin-bottom: 1vw;
  text-align: left;
  margin-top: 0.4vw;
  margin-bottom: 2.7vw;
  line-height: 5vw;
}

#curatorsNumber
{
  display: inline-block;
  font-family: 'Code';
  font-size: 37.5vw;
  line-height: 30vw;
  text-align: right;
  width: 38.1vw;
  color: white;
  margin-right: 1.81vw;
  float: left
}

.curatorPhotoPlaceHolder,
#number22,
#you
{
  display: inline-block;
  position: relative;
  width: 6.1vw;
  height: 6.1vw;
  margin-right: 2.2vw;
  margin-bottom: 2.43vw;
  vertical-align: top;
}

.curatorPhoto,
.curatorPhotoOverlay
{
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

#number22,
#you
{
  text-align: center;
  border-radius: 6.25vw;
}

#number22
{
  border: 1px solid white;
  border-style: dashed;
}

#you
{
  background-color: #531931;
  transition: 0.2s;
}


.curatorPhotoOverlay 
{
  opacity: 0;
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: font-size: 1.2vw;
  --webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  overflow: hidden;
}

.curatorPhotoOverlay:hover
{
  opacity: 0.9;
}

.curatorPhotoOverlay p,
#number22 p,
a #you 
{
  display: inline-block;
  color: white;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 1.2vw;
  vertical-align: middle;
  text-decoration: none;
}

a #you:hover
{
  background-color: #122c34;
  font-size: 1.3vw;
}





/* Footer */

footer
{
  height: 60px;
  background-color: #122c34;
  text-align: left;
}

footer ul
{
  display: inline-block;
  vertical-align: middle;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 15px;
  margin-right: 5vw;
  margin-left: 2vw;
  list-style-type: none;
  display: inline-block;
}

footer li
{
  display: inline-block;
  margin: 0 20px 0 0;
  vertical-align: middle; 
}

footer li a
{
   text-decoration: none;
   color: white;
}


footer li:hover
{
   border-bottom: 1px solid white;
}

footer #mixpanel
{
  display: inline-block;
  font-family: 'Open Sans';
  float: right;
  font-weight: 300;
  font-size: 2.22vh;
  margin-right: 5vw;
  margin-left: 2vw;
  color: white;
  vertical-align: middle;
  margin-top: 13px;
}

footer #mixpanel a
{
  vertical-align: middle;
  display: inline-block;

}

footer p
{
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}


/*animations*/

@-webkit-keyframes bounce {
  0%, 10%, 25%, 40%, 50% {
    -webkit-transform: translateY(0) ;
            transform: translateY(0) ; }
  20% {
    -webkit-transform: translateY(-10px) ;
            transform: translateY(-10px) ; }
  30% {
    -webkit-transform: translateY(-5px) ;
            transform: translateY(-5px) ; } }
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0) ;
            transform: translateY(0) ; }
  40% {
    -webkit-transform: translateY(-10px) ;
            transform: translateY(-10px) ; }
  60% {
    -webkit-transform: translateY(-5px) ;
            transform: translateY(-5px) ; } }



/*construction temp elements*/

#offset
{
   position: fixed;
   top: 0;
   text-align: center;
   width: 0;
   background-color: rgba(0,0,0,0.5);
   color: white;
   padding: 10px 0 10px 0;
   font-family: 'Open Sans';
   font-weight: 300;
   z-index: 999;
   
}





@media screen and (max-width: 1390px) and (min-width: 1000px){



  #fbButton h2,
  #signUpOverlayContainer h2,
  #classicLogin,
  #facebookLogin h2
  {
    font-size: 20px;
    max-width: 75vw;
  }

  #facebookLogin h2
  {
    line-height: auto;
  }

  #signUpForm
  {
    margin-top: 0;
  }


  #signUpOverlay .helper
  {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  #signUpOverlayContainer
  {
    margin-top: 10vh;
  }

  #fbButton
  {
    line-height: 40px;
    width: 300px;
  }

  #fbIcon
  {
    height: 30px;
  }

  #classicLogin
  {
    line-height: 50px;
  }
  #explainArrow
  {
    width: 30px;
  }

  input[type="email"],
  input[type="password"]
  {
    width: 300px;
    height: 25px;
  }


  #headerSignUpOverlay
  {
    position: absolute;
    top: 0;
    left: 0;
  }


  .img-container img
  {
    width: 550px;
    height: 325px;
  }

  h1
  {
    font-size: 40px;
  }

}








@media screen and (max-width: 1000px) and (min-width: 700px){




  #fbButton h2,
  #signUpOverlayContainer h2,
  #classicLogin,
  #facebookLogin h2
  {
    font-size: 18px;
    max-width: 75vw;
  }

  #facebookLogin h2
  {
    line-height: auto;
  }


  #signUpOverlay .helper
  {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  #signUpOverlayContainer
  {
    margin-top: 10vh;
  }

  #fbButton
  {
    line-height: 40px;
    width: 300px;
  }

  #fbIcon
  {
    height: 30px;
  }

  #classicLogin
  {
    line-height: 50px;
  }
  #explainArrow
  {
    width: 30px;
  }

  input[type="email"],
  input[type="password"]
  {
    width: 300px;
    height: 25px;
  }


  #headerSignUpOverlay
  {
    position: absolute;
    top: 0;
    left: 0;
  }

    .img-container img
  {
    width: 400px;
    height: 236px;
  }

  #container2 a
  {
    font-size: 14px;
  }

  #signUpForm
  {
    margin-top: 0;
  }

}


@media screen and (max-width: 700px){

  header ul
  {
    display: none;
  }

  header h1
  {
    text-align: center;
    float: none;
    font-size: 35px;
  }


  #fbButton h2,
  #signUpOverlayContainer h2,
  #classicLogin,
  #facebookLogin h2
  {
    font-size: 12px;
    max-width: 75vw;
  }

  #facebookLogin h2
  {
    line-height: 20px;
  }


  #signUpOverlay .helper
  {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  #signUpOverlayContainer
  {
    margin-top: 10vh;
  }

  #fbButton
  {
    width: 200px;
    line-height: 40px;
  }

  #fbIcon
  {
    height: 20px;
  }

  #classicLogin
  {
    line-height: 50px;
  }
  #explainArrow
  {
    width: 30px;
  }

  input[type="email"],
  input[type="password"]
  {
    width: 200px;
    height: 25px;
  }

  header h1
  {
     margin: 3.333vh 0 0 0; 
  }

  #page1
  {
    width: 100vw;
    height: 100vh;
    max-height: 700px;
    background-attachment: scroll; 
  }

  #page1 h1
  {
    font-size: 24px;
  }

  #chevronLink
  {
    display: none;
  }

   #container2
  {
    text-align: center;
  }

  #container1 #CTAP1
  {
     width: 200px;
  }

  #container2 {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  
  #container2 .first {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
  }

  #container2 .second{
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
  }

  #container2 h1,
  #container3 h1
  {
    font-size: 28px;
  }

  #container2 p,
  #container3 p
  {
    font-size: 11px;
  }

  .img-container img
  {
    width: 240px;
    height: 142px;
  }
  
  #container2 .img-container
  {
    width: 75vw;

  }

  #container2 aside
  {
    width: 75vw;
    margin-top: 17vh;
    text-align: center;
    max-width: none;
  }

  #container2 a
  {
    width: 200px;
  }


  .helper {
    display: inline-block;
    height: 0%;
    vertical-align: middle;
  }

  #page3
  {
    height: 100vh;
    width: 100vw;
    max-height: 700px;
    background-attachment: scroll; 
  }

  #container3
  {
    width: 75vw;
    top: 40vh;
    min-width: 0;
    position: absolute;
  }

  #container3 a
  {
    width: 200px;
  }


  #container3 p
  {
    line-height: 20px;
  }


  /* Page 4 */

  #page4
  {
        height: auto;
  }

  #page4 h1
  {
    font-size: 24px;
    margin-top: 14vh;
  }

  .sound_box
  {
    width: 100vw;
  }

  .sound_informations h3
  {
    font-size: 3vw;
  }



  /*Page 5*/


  #page5
  {
    height: 85vh;
  }

  #page5,
  #container5,
  #container5 h1
  {
    text-align: center;
  }

  #curatorsNumber
  {
    display: block;
    float: none;
    text-align: center;
    margin: auto;
    line-height: 36vw;
  }
  
  #page5 .helper
  {
    height: 100%;
  }

  #container5 h1
  {
    margin-bottom: 3vh;
  }

  #number22
  {
    display: none;
  }

  #you
  {
    cursor: pointer;
    color: white;
    display: inline-block;
    height: 6vh;
    width: 25vw;
    line-height: 6vh;
    border-radius: 3px;
    font-size: 2.7777vh;
    font-family: 'Open Sans';
    font-weight: 300;
    margin-top: 2vh;
  }

  a #you 
  {
    font-size: 3vw;
  }


  /* Footer */

  footer ul
  {
    margin-left: 6.25vw;
    padding: 0;
    padding-top: 15px;
    line-height: 24px;
  }

  footer ul li
  {
    display: block;
  }

  footer
  {
    height: 80px;

  }

  footer #mixpanel
  {
    margin-right: 6.25vw;
    margin-top: 20px; 
  }

  #signUpForm
  {
    margin-top: 0;
  }


}









